<h2>All Historical Landmarks</h2>

<% @landmarks.each.with_index(1) do |landmark, i| %>
<p><%= "#{i}. #{landmark.name}" %></p>
<p><%= "Year Completed: #{landmark.year_completed}" %></p>
<a href="/landmarks/<%= landmark.id %>">Landmark Link</a>
<% end %>

<p><a class="button" href="/landmarks">Landmarks</a></p>
<p><a class="button" href="/">Home</a></p>
