<h1>Shows Selected Landmark</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td style="text-align: center"><%= @landmark.name %></td>
    <td style="text-align: center"><%= @landmark.year_completed %></td>
  </tr>
<table>

<p><a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a></p>
<p><a class="button" href="/landmarks">Landmarks</a></p>
