<h1>All Historical Figures</h1>

<% @figures.each.with_index(1) do |figure, i| %>
<p><%= "#{i}. #{figure.name} -- " %> <a href="/figures/<%= figure.id %>">Figure Link</a></p>
<% end %>

<p><a class="button" href="/landmarks">Landmarks</a></p>
<p><a class="button" href="/">Home</a></p>
